@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Recursive', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #E5E5E5;
}
.container{
  width: 375px;
  height: 667px;
  background-color: #FB6B6B;
  display: flex;
  align-items: center;
 
  flex-direction: column;
}
.botao{
 width: 300px;
 height: 54px;
 background-color: #ffffff;
 border: 1px solid #D70900;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 5px;
align-items: center;
display: flex;
justify-content: center;
}
.indice{
  width: 300px;
  height: 54px;
  background-color: #ffffff;
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 5px;
 align-items: center;
 display: flex;
 justify-content:space-between;
 margin-top: 25px;
}
.indice p{
margin-left: 14px;

}
.p-resposta{
  margin-bottom: 30px;
  
}
.icon{
  margin-right: 14px;
  width: 25px;
   height: 28px;

 
}
.pergunta{
   
  width: 300px;
  height: 131px;
  background-color: #ffffff;
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 5px;
  margin: 0;
  padding: 0;
 display: flex;
justify-content: center;
    flex-direction: column;  
}
 .escolha{
  width: 100%;
display: flex;
gap: 7px;
margin: 25px 15px 6px 15px;

} 
.escolha-vermelha{
  width: 85px;
  height: 37px;
  background: #FF3030;
border-radius: 5px;
display: flex;
align-items: center;
color: #ffffff;
justify-content: center;
cursor: pointer;
margin: 0;
padding: 0;
text-align: center;
font-size: 12px;
}

.escolha-amarela{
  font-size: 12px;
  width: 85px;
  height: 37px;
  background: #FF922E;
border-radius: 5px;
display: flex;
color: #ffffff;
line-height: 14px;
align-items: center;
text-align: center;
margin: 0;
padding: 0;
cursor: pointer;
}
.escolha-verde{
  font-size: 12px;
  width: 85px;
  height: 37px;
  background: #2FBE34;
border-radius: 5px;
display: flex;
align-items: center;
color: #ffffff;
justify-content: center;
cursor: pointer;
margin: 0;
padding: 0;
}
.indece-ver{
  width: 300px;
  height: 54px;
  background-color: #ffffff;
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 5px;
 align-items: center;
 display: flex;
 justify-content: center;
 position:absolute;
}
.btn-vermelha{
  text-decoration: line-through;
  color:#D70900;
}
.btn-verde{
  text-decoration: line-through;
  color:#00d71d;
}
.task-container{
  position: fixed;
  bottom: 0;
  width: 500px;
  height: 200px;
  background-color: #D70900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.indices{
  
  display: flex;
  justify-content:space-between;
  position: fixed;
  z-index: 100;
  bottom: 0;
  gap:5px;
 flex-direction: column;
}

.footer{
  position: fixed;
  display: flex;
width: 375px;
height: 100px;
bottom: 0;
background: #FFFFFF;
 
justify-content: center;
box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
.footer p{
  position: fixed;
  bottom: 0;
  margin-bottom: 25px;
}
.zaprecall-pg2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px 0 40px 0;
}
.zaprecall-pg2 img{
  width: 52px;
  height: 60px;
  margin-right: 18px;
}
.zaprecall-pg2 h1{
color: #ffffff;
}
.iniciar{
  color: #D70900;
  padding-left: 82px;
  cursor: pointer;
}
.h1-pg1{
color: #ffffff;
}
.img-pg1{
  margin-top: 148px;
}
.resposta{
  margin-bottom: 5px;
  margin-left: 16px;
}
.verm{
  color: #D70900;
  width: 23px;
height: 23px;

}
.amar{
  color: #FF922E;
  width: 23px;
height: 23px;

}
.ver{
  color: #00d71d;
  width: 23px;
height: 23px;

}
.icones-resposta{
  display: flex;
}

